<!--
Author: Tyler Bezera, Brett Yeager
Project: IT328 QuizGame
File: home.html
Package: views
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="./styles/home.css">
</head>
<body>
<check if="{{ @answer!=null }}">
    <script>setTimeout(function(){alert("Game over. The answer was  {{ @answer }}")}, 600);</script>
</check>
<div class="jumbotron">
    <h1 class="display-4">Quiz Game</h1>
    <p class="lead">You have one chance to play the game, the first question you get wrong, the game ends and submits your highscore.</p>
    <hr class="my-4">
    <form action="./play" method="GET">
        <div class="form-group col-3">
            <label for="nickname">Nickname: &nbsp;</label>
            <input id="nickname" name="nickname" type="text" class="form-control" required value="{{ @nickname }}">
        </div>
        <p class="lead">
            <input value="Play" type="submit" class="btn btn-primary btn-lg mt-5">
        </p>
    </form>
</div>
<div class="container mb-5">
    <div class="row mt-5 justify-content-center">
        <div id="highscores" class="">
            <table class="table-striped text-center">
                <tr>
                    <th>Nickname:</th>
                    <th>Highscore:</th>
                </tr>
                    <repeat group="{{ @highscores }}" value="{{ @score }}">
                        <tr>
                            <td>{{ @score['name'] }}</td>
                            <td>{{ @score['score']}}</td>
                        </tr>
                    </repeat>
            </table>
        </div><!-- END TABLE DIV -->
    </div><!-- END ROW DIV -->
</div><!-- END CONTAINER DIV -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="./views/bootstrapJS/bootstrap.js"></script>
</body>
</html>