<!--
Author: Tyler Bezera, Brett Yeager
Project: IT328 QuizGame
File: play.html
Package: views
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="./styles/play.css">
</head>
<body>
<!-- Bootstrap Card for question, pull question from api here -->
<div class="container card-size">
    <div class="card mt-5 text-center">
        <div class="card-header" id="category"></div>
        <div class="card-body text-center p-3" id="quiz">
            <p id="question" class="mt-3"></p>
            <form method="post">
                <ul class="list-group">
                    <li class="list-group-item optionListHolder"><input id='answer1' class="optionButton btn btn-light" type="submit" name="1" value="1"></li>
                    <li class="list-group-item optionListHolder"><input id='answer2' class="optionButton btn btn-light" type="submit" name="2" value="2"></li>
                    <li class="list-group-item optionListHolder"><input id='answer3' class="optionButton btn btn-light" type="submit" name="3" value="3"></li>
                    <li class="list-group-item optionListHolder"><input id='answer4' class="optionButton btn btn-light" type="submit" name="4" value="4"></li>
                </ul>
            </form><!-- END FORM -->
        </div><!-- END CARD BODY DIV -->
        <div class="card-footer" id="notify"></div>
    </div><!-- END CARD DIV -->
</div><!-- END CONTAINER DIV -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="./views/bootstrapJS/bootstrap.js"></script>
<script src="/328/QuizGame/controller/question.js">

</script>
</body>
</html>