<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="./styles/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="./styles/play.css">
</head>
<body>
<!-- Bootstrap Card for question, pull question from api here -->
<div class="container card-size">
    <div class="card mt-5 text-center">
        <div class="card-header" id="category"></div>
        <div class="card-body text-center p-3" id="quiz">
            <p id="question" class="mt-3"></p>
            <form action="">
                <ul class="list-group">
                    <li class="list-group-item optionListHolder"><input id='answer1' class="optionButton btn btn-light" type="submit" value=""></li>
                    <li class="list-group-item optionListHolder"><input id='answer2' class="optionButton btn btn-light" type="submit" value=""></li>
                    <li class="list-group-item optionListHolder"><input id='answer3' class="optionButton btn btn-light" type="submit" value=""></li>
                    <li class="list-group-item optionListHolder"><input id='answer4' class="optionButton btn btn-light" type="submit" value=""></li>
                </ul>
            </form>
        </div>
        <div class="card-footer" id="notify"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="./views/bootstrapJS/bootstrap.js"></script>
<script>

    $.post('328/QuizGame/models/api-functions.php', {action: 'question'}, function( data ) {

        var index = data.indexOf(']');
        data = data.substring(1,index);
        console.log(data);
        var obj = JSON.parse(data);
        console.log(obj);
        $('#answer1').val(obj.option1);
        $('#answer2').val(obj.option2);
        $('#answer3').val(obj.option3);
        $('#answer4').val(obj.option4);
        $('#question').html(obj.question);
        $('#category').html(obj.category.name);

        <!-- Route to same page, if answer is correct new question else end game -->
    });
</script>
</body>
</html>